/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #4bb4b3 -29.09%,
    #357e7d 51.77%,
    #6fc3c2 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  appearance: none;
  font-size: 18px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
  0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
}

.appInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 8px;
}

.worklogContainer {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 81px 1fr 39px;
  grid-row-gap: 8px;
}

.container {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 81px 40px 44px;
  grid-row-gap: 8px;
}

.centered {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.worklog {
  flex-grow: 1;

  background-color: #fff;
  border-radius: 6px;

  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  overflow-y: auto;
}

.worklogLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}
.worklogLogo > svg {
  width: 80%;
}

.logEntry {
  width: 100%;
  margin-bottom: 4px;

  display: grid;
  grid-template-columns: 115px 1fr;
  grid-column-gap: 8px;

  font-size: 13px;
  color: #00363d;
}

.logEntry > div:first-child,
.logEntry > div:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.logEntry > div:first-child {
  font-weight: bold;
}
